/__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.zip
*.rdb

redis.conf

.lhistory
.bash_history
uwsgi_logs.txt

/static/
build/hash/
dist/
media/
bin/
locale/
logs/
cache/

old/

templates/jinja2/
whoosh_index/

migrations

# envinfo.py

.DS_Store

# node files
node_modules/
node_modules
npm-debug.log
bower_components
