$btnColor: rgba(35, 35, 35, 0.75)
$btnHoverColor: rgba(35, 35, 35, 1)

$btn_default_width: 45px
$btn_default_hight: 45px

$btn_time_width: $btn_default_width + 10px
$btn_time_hight: $btn_default_hight - 10px

$progress_panel_height:  $btn_default_hight - 25px

$play_icon_height: 20px
$play_icon_width: 18px

$btn_margin_outer: 10px
$btn_margin_inner: 5px

%btn
    fill: $btnColor
    cursor: pointer
    transition: fill 200ms

    &:hover
        fill: $btnHoverColor

.btn--play
    @extend %btn
    width: $btn_default_width
    height: $btn_default_hight
    transform: translateX($btn_margin_outer)

.btn--fullscreen
    @extend .btn--play
    transform: translateX(calc(100% - #{$btn_default_width + $btn_margin_outer}))

.btn--time
    @extend %btn
    cursor: default
    width: $btn_time_width
    height: $btn_time_hight
    transform: translate(calc(100% - #{$btn_time_width + $btn_margin_inner + $btn_margin_outer + $btn_default_width}), ($btn_default_hight - $btn_time_hight) / 2)

.progress--panel
    @extend %btn
    height: $progress_panel_height
    width: calc(100% - #{2*$btn_default_width + $btn_time_width + 2*$btn_margin_outer + 3*$btn_margin_inner})
    transform: translate($btn_default_width + $btn_margin_outer + $btn_margin_inner, ($btn_default_hight - $progress_panel_height) / 2)


.text--time
    fill: #fff
    font:
        size: 12px
        family: monospace
    pointer-events: none

    transform: translate(calc(100% - #{$btn_time_width + $btn_margin_inner + $btn_margin_outer + $btn_default_width - $btn_time_width/2}), $btn_default_hight/2)


.paly--icon--group
    polygon
        fill: #fff
    transform: translate($btn_margin_outer + ($btn_default_width - $play_icon_width)/2, $btn_default_hight/2)
