include video

doctype html
html
    head
        title Video
        link(rel='stylesheet', type='text/css', href='/static/video.css')
    body
        +video('v1', '/media/Videos/anime/Spirited Away.mp4')
        
        script(type='text/javascript', src='/static/video.js')
        script(type='text/javascript', src='/static/main.js')
