- var play_icon_height = 20 
- var play_icon_width = 18
- var play_icon_distance = 2
- var play_polygon_points = "0 h, 0 -h, w 0, w 0".replace(/h/g, play_icon_height/2).replace(/w/g, play_icon_width)

mixin video(id, src)
    .video-container
        div(id=id).video-wrapper
            video
                source(src=src, type='video/mp4')
            svg
                g.bottom-controls
                    g.play--group
                        rect.btn--play
                        g.paly--icon--group
                            polygon(points=play_polygon_points)
                    
                    g.progress--group
                        rect.progress--panel
                    
                    g.time--group
                        rect.btn--time
                        text.text--time(text-anchor="middle", alignment-baseline="central")
                    
                    g.fullscreen--group
                        rect.btn--fullscreen
            
            
